/* Scholarship Red */

header,
.button,
#events,
#scholarship {
    background-color: #a51c30;
}

#events a,
#scholarship a {
    color: #a51c30;
}

/* Clock Tower Grey */

body,
.card {
    background-color: #414141;
}

/* Parchment */

#introduction,
.item,
#academics,
footer {
    background-color: #f9f6ef;
}

/* Head-in-the-Clouds White */

header,
.button,
.left-column h1, 
.left-column p,
.card,
#scholarship h1,
.left-column h3 {
    color: white;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

/* All-Nighter Black */

footer a:link,
footer a:visited {
    color: black;
    text-decoration: none;
}

.card {
    border: 1px solid black;
}