@media only screen and (max-width: 1118px) {
    h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 906px) {

    h1 {
        font-size: 2.5rem;
    }

    #introduction {
        flex-direction: column;
    }

    .left-column {
        width: 100%;
        padding: 0;
    }

    .right-column {
        width: 100%;
    }

    .right-column h1 {
        width: 100%;
        text-align: center;
    }
    
    #introduction .right-column h3 {
        width: 100%;
        text-align: center;
    }

    .button {
        width: 100%;
        text-align: center;
    }

    .card {
        width: 300px;
    }
}

@media only screen and (max-width: 797px) {
    .card {
        width: 250px;
    }
}

@media only screen and (max-width: 747px) {

    header {
        position: relative;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        height: 100%;
        margin: 0 1.5rem;
    }

    .mobile nav {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        padding-bottom: 0;
    }

    .mobile img {
        height: 2.5rem;
    }

    #introduction,
    #introduction .left-column {
        padding-top: 0;
    }

    #events {
        flex-direction: column;
        background-color: #414141;
    }

    #events .left-column {
        display: none;
    }

    #events .right-column {
        padding-top: 0;
        padding-bottom: 0;
    }

    .item {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }

    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
        width: 100%;
        height: auto;
        margin: 1rem;
    }

    #events .item .right-column {
        width: 100%;
        text-align: center;
    }

    #events h3 {
        width: 100%;
        font-size: 1.75rem;
    }

    #events p {
        font-size: 1.25rem;
    }

    #academics {
        border-top: 1px solid #414141;
    }

    .card-container {
        margin: 2rem 1rem;
    }

    .card {
        padding-bottom: 0;
        margin: 0.5rem;
        border: 0;
        background-color: #a51c30;
        width: 100%;
    }

    .card a {
        padding-bottom: 0.5rem;
    }

    .card img,
    .card p {
        display: none;
    }

    #scholarship h1 {
        padding-bottom: 1rem;
    }

    #scholarship .right-column {
        display: none;
    }

    #scholarship h3,
    #scholarship p {
        display: none;
    }

    footer nav span {
        display: none;
    }

}

/* @media only screen and (max-width: 697px) {
    .card {
        width: 384px;
    }
} */