/* Prevent headline from splitting into three lines */

@media only screen and (max-width: 1118px) {
    h1 {
        font-size: 2rem;
    }
}

/* Large Tablet Portrait */

@media only screen and (max-width: 906px) {

    h1 {
        font-size: 2.5rem;
    }

    #introduction {
        flex-direction: column;
    }

    #introduction .left-column,
    .right-column, 
    .right-column h1, 
    #introduction .right-column h3, 
    .button, 
    #scholarship .left-column {
        width: 100%;
    }

    .right-column h1,
    #introduction .right-column h3,
    .button {
        text-align: center;
    }


    #introduction .left-column {
        padding: 0;
    }

    .card {
        width: 300px;
    }

    #scholarship .left-column {
        padding: 1rem;
    }
}

/* Keep two rows of courses just a little bit longer */

@media only screen and (max-width: 797px) {
    .card {
        width: 250px;
    }
}

/* Smartphone Portrait */

@media only screen and (max-width: 747px) {

    .desktop,
    #events .left-column,
    .desktop-image,
    .card img,
    .card p,
    #scholarship .right-column,
    #scholarship h3,
    #scholarship p,
    footer nav span {
        display: none;
    }

    .mobile-image,
    #events .item .right-column,
    #events h3,
    .card,
    #scholarship .left-column {
        width: 100%;
    }

    header {
        position: relative;
    }

    .mobile {
        display: block;
        height: 100%;
        margin: 0 1.5rem;
    }

    .mobile nav {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        padding-bottom: 0;
    }

    .mobile img {
        height: 2.5rem;
    }

    #introduction,
    #introduction .left-column {
        padding-top: 0;
    }

    .right-column {
        padding: 2rem 0;
    }

    .button {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        font-size: 1.25rem;
    }

    #events {
        flex-direction: column;
        background-color: #f9f6ef;
        padding: 0 1rem 2rem 1rem;
        border-top: 1px solid #414141;
    }

    #events .right-column {
        padding-top: 0;
        padding-bottom: 0;
    }

    #events .item .right-column {
        margin-left: 1rem;
    }

    .item {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 3rem; /* 48px here + 16px more on the margin of mobile images = 64px as per project requirements */
    }

    .mobile-image {
        display: block;
        height: auto;
        margin: 1rem;
    }

    #keynote {
        margin-bottom: 0;
    }

    #events .item .right-column {
        line-height: 1.75;
    }

    #events h3 {
        font-size: 1.75rem;
    }

    #events p {
        font-size: 1.25rem;
    }

    #academics {
        border-top: 1px solid #414141;
    }

    .card-container {
        margin: 0.75rem 0.75rem 1.75rem 0.75rem; /* Top margin here 12px + top margin .card 4px = 16px as per project requirements */
    }

    .card {
        padding-bottom: 0;
        margin: 0.25rem;
        border: 0;
        background-color: #a51c30;
    }

    .card:hover {
        opacity: 0.9;
    }

    .card h3 {
        margin: 1rem 0 1.5rem 1rem;
    }

    .card a {
        padding-bottom: 0.5rem;
    }

    #scholarship h1 {
        padding-bottom: 1rem;
    }

    #scholarship .left-column {
        padding: 0;
    }

}