@media only screen and (max-width: 1118px) {
    h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 906px) {

    h1 {
        font-size: 2.5rem;
    }

    #introduction {
        flex-direction: column;
    }

    .left-column {
        width: 93%;
    }

    .right-column {
        width: 93%;
    }

    .right-column h1 {
        width: 93%;
        text-align: center;
    }
    
    #introduction .right-column h3 {
        width: 93%;
        text-align: center;
    }

    .button {
        width: 93%;
        text-align: center;
    }

    .card {
        width: 300px;
    }
}

@media only screen and (max-width: 797px) {
    .card {
        width: 250px;
    }
}

@media only screen and (max-width: 747px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        height: 100%;
        margin: 0 1.5rem;
    }

    .mobile nav {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    a {
        padding-bottom: 0;
    }

    .mobile img {
        height: 2.5rem;
    }

    #events {
        flex-direction: column;
    }

    .item {
        flex-direction: column;
        margin-left: 1rem;
    }

    .item img {
        width: 100;
    }

}

@media only screen and (max-width: 697px) {
    .card {
        width: 384px;
    }
}