/* Fonts */

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Merriweather Light'), local('Merriweather-Light'), url(https://fonts.gstatic.com/s/merriweather/v20/u-4n0qyriQwlOrhSvowK_l521wRZWMf6.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* Universal */

body {
    font-family: Helvetica; /* Temporary */
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1280px;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

/* Header */

header {
    width: 100%;
    max-width: 1231px; /* where did ~50px go?? this should match the 1280 in the body */
    height: 4rem;
    padding: 0 1.5rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b1040e;
    font-family: 'Merriweather', 'Times New Roman', serif;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    /* flex-grow: 1; */
    height: 2rem;
    letter-spacing: 0.15rem;
}

.logo img {
    height: 3rem;
}

#colmar {
    font-size: 1.5rem;
    font-weight: 700;
}

#academy {
    font-size: 1.5rem;
}

nav span {
    margin-left: 1rem;
}

/* Introduction */

#introduction {
    display: flex;
    align-items: center;
    padding-top: 4rem;
}

.left-column {
    width: 60%;
    padding: 2rem 1.5rem;
}

.left-column img {
    width: 100%;
    height: auto;
}

.right-column {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.right-column h1 {
    width: 80%;
    margin-bottom: 2rem;
}

.right-column h3 {
    width: 80%;
}

.button {
    width: 80%;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
}

/* Events */

#events {
    display: flex;
}

.item {
    display: flex;
    align-items: center;
}

.item img {
    width: 35%;
    height: auto;
    margin: 1rem;
}

.left-column h1 {
    margin-top: 2rem;
}

.left-column p {
    margin-top: 1rem;
}

#events .item .right-column {
    width: 65%;
    line-height: 1.5;
}

/* Acedemic Programs */

#academics h1 {
    text-align: center;
    margin-top: 2rem;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 3.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 348px; /* One more pixel and the boxes wrap again, might need to be adjusted when font is changed */
    padding-bottom: 1rem; /* This is for the 24px separation between the last line of text in a card and the bottom border, the other 8px are part of the p margin */
    margin: 1rem;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 1rem;
}

.card p {
    margin: 0.5rem 1rem;
}

/* Scholarship */

#scholarship h1 {
    text-align: center;
}

.thesis-container {
    display: flex;
}

.left-column video {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}

#scholarship  .item .right-column {
    width: 65%;
    line-height: 1.5;
}

/* Footer */

footer {
    display: flex;
    padding-top: 1rem;
}

.copyright {
    flex-grow: 1;
    margin-left: 1.5rem;
}

footer nav {
    margin-right: 1.5rem;
}

/* Temporary dummy boxes */

section {
    border: 1px solid black;
}

/* div {
    border: 1px solid black;
} */

/* nav {
    border: 1px solid black;
} */

/* header {
    border: 1px solid black;
} */

footer {
    border: 1px solid black;
}