body {
    font-family: Helvetica; /* Temporary */
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1280px;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

/* Header */

header {
    /* position: fixed; */
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 2rem;
}

nav span {
    margin-left: 1rem;
}

/* Introduction */

#introduction {
    display: flex;
    align-items: center;
}

.left-column {
    width: 60%;
    padding: 2rem 1.5rem;
}

.left-column img {
    width: 100%;
    height: auto;
}

.right-column {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.right-column h1 {
    width: 80%;
    margin-bottom: 2rem;
}

.right-column h3 {
    width: 80%;
}

.button {
    width: 80%;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
}

/* Events */

#events {
    display: flex;
}

.item {
    display: flex;
    align-items: center;
}

.item img {
    width: 35%;
    height: auto;
    margin: 1rem;
}

.left-column h1 {
    margin-top: 2rem;
}

.left-column p {
    margin-top: 1rem;
}

#events .item .right-column {
    width: 65%;
    line-height: 1.5;
}

/* Acedemic Programs */

#academics h1 {
    text-align: center;
    margin-top: 2rem;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 3.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 348px; /* One more pixel and the boxes wrap again, might need to be adjusted when font is changed */
    padding-bottom: 1rem; /* This is for the 24px separation between the last line of text in a card and the bottom border, the other 8px are part of the p margin */
    margin: 1rem;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 1rem;
}

.card p {
    margin: 0.5rem 1rem;
}

/* Scholarship */

#scholarship h1 {
    text-align: center;
}

.thesis-container {
    display: flex;
}

.left-column video {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}

#scholarship  .item .right-column {
    width: 65%;
    line-height: 1.5;
}

/* Footer */

footer {
    display: flex;
    padding-top: 1rem;
}

.copyright {
    flex-grow: 1;
    margin-left: 1.5rem;
}

footer nav {
    margin-right: 1.5rem;
}

/* Temporary dummy boxes */

section {
    border: 1px solid black;
}

div {
    border: 1px solid black;
}

nav {
    border: 1px solid black;
}

header {
    border: 1px solid black;
}